.header {
    padding: 60px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
    font-family: 'Big Shoulders Text', cursive;
}

.content {
    padding: 60px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
    position: relative;
    top: 10px;
    font-family: 'Big Shoulders Text', cursive;
}

a:link, a:visited {
    background-color: chartreuse;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 20px;
}

a:hover, a:active {
    background-color: darkgreen;
}

ol.felsorolas {list-style-type: none;}

.footer {
    padding: 60px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
    font-family: 'Big Shoulders Text', cursive;
    position: relative;
    top: 20px;
}


.button {
    background-color: chartreuse; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1:hover {
    background-color: darkgreen;
    color: white;
}
